body{
    font-family: Arial, Helvetica, sans-serif ; /* 14 */
    background-color: #eee;
}

h1{
    background-color:maroon;
    color: white;
    margin: 0px;
    text-align: center;
    
}
h2{
    
    background-color: lightblue;
    padding-left: 10px ;
    border-left: 6px solid darkblue;
}

p{
    color: gray;
    margin-bottom: 25px;
    margin: 0px;
    margin-top: 25px;
}
#extra {
    font-weight: 700;
    color: black;
}

#Tekst1 {
   text-decoration: underline; 
   font-weight: 700;
}
#Tekst2 {
    text-decoration: underline;
    font-weight: 700;

}