body{
    
    background-color: #eee;
}
h1{
    text-align: center;
}
th{
    border: 1px solid;
    text-align: left;
    padding: 7px;

}
table{
    position:relative;
    width: 100%;
    

}
td{
   
   text-align:left;
   margin: right;
   
}
td {
    
    padding: 7px;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}
li a:hover{
    background-color: #111;
}

img{
    width: 100%;
}



.cv{
   padding-left: 100px;
}

.container-fluid {
    width: 50%;
    margin: auto;
}

.float-container {
    
    padding: 10px;
    
}

.flex-container{
    display: flex;
    align-items: center;

}
.flex-child{
    flex: 1;
 margin-left: 100px;
}
.flex-child:first-child{
    margin-left: 10px;
}
#mijnfoto{
    width: 80%;
    margin-left: 80px;
    
}
.cv{
    margin-right: 50px;
}